.row {
  display: flex;
  /* border: 1px solid black; */
  height: 25vh;
  justify-content: center;
}

.cell {
  border: 1px solid white;
  flex-basis: 25%;
  /* background-image: url('https://media.giphy.com/media/GpyS1lJXJYupG/giphy.gif'); */
  background-size: cover;
}

.cell:hover {
  cursor: pointer;
}
