/* Box-Sizing */

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: Lato;
  background: #ECF0F1;
  color: #34495E;
}

/* MAIN */

main {
  max-width: 500px;
  margin: 0 auto;
}

h1{
  font-weight: 400;
}

h2 {
  font-weight: 900;
  margin-bottom: 0;
  margin-top: 10px;
}

p{
  margin-top: 0;
  font-size: 12px;
}

.city {
  background: #fff;
  border-radius: 10px;
  height: 160px;
  margin: 20px 0;
  padding: 20px 20px 20px 40px;
  border-bottom: 0 none;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
  display: grid;
  grid-template-columns: 40% 25% 35%;
  align-items: center;
  
}

.city:hover{
  box-shadow: 0 3px 10px rgba(0, 0, 255, 0.66);
  transform: translateX(2px);
  transition: 0.3s;
  
}

a {
  text-decoration: none;
  color: #34495E;
}

a:hover{
  color: rgba(0, 0, 0, 255);
  cursor: pointer;
}

.icon-container {
  display: grid;
  justify-items: center;
}

.icon-container img {
  width: 130px;
}

.temp {
  display: grid;
  justify-items: end;
}