<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/611d9689cc.js"></script>
    <link rel="stylesheet" href="css/vendor/vex.css" />
    <link rel="stylesheet" href="css/vendor/vex-theme-os.css" />
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <title>Fox Player</title>
</head>

<body>
    <main>
        <header>
            <div class="logo">
                <img src="/img/foxplayer.png" alt="">
                <div class="notifications">Your disco sh*t cannot be played!</div>
            </div>
            <div class="create-playlist">
                <p>Playlists</p>
                <span title="Create a new playlist"><i class="fas fa-plus" id="create-playlist"></i></span>
            </div>
        </header>
        <div class="playlists">
            <div class="playlist-item default" data-id="0">All tracks<i class="fas fa-headphones"></i></div>
            <div class="playlist-item default" data-id="1">Favourites<i class="fas fa-star"></i></div>
            <% console.log(data) %>
            <% data[0].forEach( e => { %>
            <div class="playlist-item custom">
                <p class="custom-playlist-title" data-id="<%= e.playlist_id %>"><%= e.playlist %></p>
                <span title="Delete playlist"><i class="fas fa-trash-alt"></i></span>
            </div>
            <% }) %>
        </div>
        <div class="artwork"></div>
        <div class="control-panel">
            <audio controls src="/music/Ars_Sonor_-_02_-_Never_Give_Up.mp3">Your browser does not support the
                <code>audio</code> element.</audio>
        </div>
        <div class="currently-playing">
            <div class="song-info">
                <h1>Song Title</h1>
                <p>The Artists</p>
            </div>
            <div class="icons">
                <span title="Add to playlist"><i class="fas fa-plus" id="add-to-playlist"></i></span>
                <span title="Add to Favourites"><i class="fas fa-star" id="add-to-favourites"></i></span>
            </div>
        </div>
        <div class="tracklist">
            <% data[1].forEach(e => { %>
            <div class="track-item" data-id="<%= e.track_id %>">
                <p class="track-title"><%= e.track_title %></p>
                <p class="track-duration">3:32</p>
            </div>
            <% }); %>
        </div>
    </main>
    <script src="js/vendor/vex.combined.min.js"></script>
    <script>vex.defaultOptions.className = 'vex-theme-os'</script>
    <script src="js/main.js"></script>
</body>

</html>