/* Box-Sizing */

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

main{
  max-width: 980px;
  height: 100vh;
  margin: 0 auto;
  display: grid;
}

header{
  background: lightslategrey;
}

.artwork{
  background: red;
}

.control-panel{
  background: blue;
}

.currently-playing {
  background: yellow;
}

.add-to-playlist{
  background: lightskyblue;
}

.playlists {
  background: lightcoral;
}

.tracks {
  background: lightseagreen;
}

@media screen and (min-width: 769px){
  main{
    height: 98vh;
    grid-template-columns: 1fr 1fr 2fr;
    grid-auto-rows: repeat(11, 1fr);
  }
  
  header{
    grid-column: 1 / 2;
    grid-row: 1 / 4;
  }
  
  .artwork{
    background: red;
    grid-column: 2 / 3;
    grid-row: 1 / 5;
  }
  
  .control-panel{
    grid-column: 1 / 4;
    grid-row: 11 / 12;
  }
  
  .currently-playing {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
  }
  
  .add-to-playlist{
    grid-column: 1 / 2;
    grid-row: 4 / 5;
  }
  
  .playlists {
    grid-column: 1 / 3;
    grid-row: 5 / 11;
  }
  
  .tracks {
    grid-column: 3 / 4;
    grid-row: 3 / 11;
  }
}