<%- include("partials/head") %>

<body>
  <header>spacesh!t</header>
  <aside>
    <a href="/submit">submit a new post<i class="fas fa-link"></i></a>
    <article>
      <div class="aside-title">
        <p>about</p>
      </div>
      <div class="aside-box">
        <p><strong>What's this?</strong></p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At laborum dolore in. Beatae placeat sunt
          animi repudiandae amet laborum sit.</p>
      </div>
    </article>
  </aside>
  <main></main>
  <%- include("partials/footer") %>
  <script src="js/main.js"></script>
</body>

</html>