<%- include("partials/head") %>

<body>
  <header>spacesh!t</header>
  <main>
    <!-- SUBMIT A POST FORM -->
    <div class="submit-container">
      <div class="submit-sidebar"></div>
      <div class="submit-content">
        <form action="">
          <input type="text" placeholder="Title">
          <input type="text" placeholder="URL">
          <input type="submit" value="POST">
        </form>
      </div>
    </div>
    <!-- SUBMIT A POST FORM  ENDS HERE-->
  </main>
  <%- include("partials/footer") %>
</body>

</html>