@media only screen and (max-width: 915px) {
  .main {
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: rgb(202, 74, 74);
    border-bottom: 0 none;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
  }
}
