/* table,
td {
  border: 1px solid black;
} */

a,
a:active,
a:hover {
  text-decoration: none;
}

span {
  color: red;
}

th {
  background-color: black;
  color: white;
  height: 40px;
}

tr:nth-child(even) {
  background: #CCC;
}

tr :nth-child(odd) {
  width: 500px;
}

tr :nth-child(even) {
  width: 300px;
}