/* Box-Sizing */

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body{
  display: grid;
  font-family: 'Lato', sans-serif;
  margin: 8px;
  background: #eee;
}
/*LAYOUT HELPERS*/

header{
  background: url('https://cdn.pixabay.com/photo/2017/09/12/11/56/universe-2742113_960_720.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  height: 180px;
  color: #fff;
  letter-spacing: 8px;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 40px;
  text-align: center;
  padding: 55px 0;
}

main{
  min-height: 100vh;
}

/* POST CONTAINER CSS*/
.post-container{
  display: grid;
  grid-template-columns: 40px 1fr;
  grid-auto-rows: minmax(180px, auto);
  margin-bottom: 15px;
}

.post-sidebar{
  background: #A7A7A7;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: #fff;
}

.modifiers{
  color: #333;
}

.modifiers>i[class="fas fa-edit"]:hover {
  color: green;
  cursor: pointer;
}

.modifiers>i[class="fas fa-trash-alt"]:hover {
  color: red;
  cursor: pointer;
}

i[class^="fas"]{
  display: block;
  padding: 5px;
}

.vote {
  margin: 5px 0;
  text-align: center;
  font-weight: 700;
}

.votes>i[class^="fas fa-arrow-alt-circle-up"]:hover {
  color: red;
  cursor: pointer;
}

.votes>i[class^="fas fa-arrow-alt-circle-down"]:hover {
  color: blue;
  cursor: pointer;
}

.post-content{
  background: #fff;
  padding: 30px;
}

.post-title{
  margin-bottom: 20px;
}

/* POST CONTAINER CSS UNTIL HERE*/

a[href="/submit"]{
  display: block;
  padding: 20px 10px;
  text-decoration: none;
  color: #fff;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 700;
  background: #4AA3DF;
  text-align: center;
  margin: 25px 0;
}

a[href="/submit"]:hover{
  background: #258cd1;
}

 a > .fa-link {
  color: #fff;
  margin-left: 8px;
  font-size: 16px;
  display: inline-block;
}

a:hover > .fa-link {
  display: inline-block;
}

aside{
  margin-bottom: 15px;
}

article{
  background: #f5f5f5;
}

.aside-title {
  background: #fbfbfb;
  padding: 20px;
}

.aside-title > p {
  display: inline-block;
}

.aside-box {
  padding: 20px;
  line-height: 1.7em;
}

footer{
  background: lightslategrey;
  height: 50px;
}

@media screen and (min-width: 769px){
  body{
    grid-template-columns: 1fr 640px 315px 1fr;
    gap: 25px;
    margin: 0;
  }
  header{
    grid-column: span 4;
    font-size: 50px;
  }
  main{
    grid-column-start: 2;
    grid-row-start: 2;
  }
  aside{
    grid-column-start: 3;
    margin-bottom: 0;
  }

  a[href="/submit"]{
    padding: 10px;
    margin-top: 0;
  }

  a > .fa-link {
    visibility: hidden;
  }

  a:hover > .fa-link {
    visibility: visible;
  }

  footer{
    grid-column: 2 / span 2;
    grid-row-start: 3;
  }
}